client/node_modules
client/README.md

server/node_modules
server/test-results
server/tests/E2E
server/.env

.dockerignore
jsconfig.json
temp.text

# Playwright
/node_modules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
